{% extends 'admin/index.html' %}

{% block head %}
    <title>Admin - Terapias</title>
{% endblock %}


{% block body %}


<div class="container col-7">



    <div class="jumbotron jumbotron-admin position-absolute text-dark bt-5">



    <h1 class="display-4 text-center text-info font-weight-bold">Bem-vindo, {{ current_user.fname }}!</h1>
        <br>
        <p class="lead text-center">Para navegar na página utilize a barra de navegação na lateral esquerda.</p>
        {% if error %}
        <p class="lead text-center font-weight-bold">E-mail e/ou Senha incorreto(s).</p>
        {% endif %}

        <hr class="my-3">


        <h2 class="display-4 text-center text-info">Terapias</h2>
        <br>

        <div class="btn-group d-flex justify-content-center">
            <a href="{{ url_for('admin.list_therapies') }}" class="btn btn-lg btn-product bg-info btn-outline-light mr-5 px-4 border border-dark">Listar</a>
            <a href="{{ url_for('admin.add_therapy') }}" class="btn btn-lg btn-product bg-info btn-outline-light mr-5 px-4 border border-dark">Novo</a>
        </div>



        <div class="container list-products mt-5">

            
            <ul class="list-group position-absolute pr-5">
                {% for therapy in all_therapies %}
                <div class="container ul-products d-flex justify-content-between my-2">
                <li class="list-group-item col-4"><strong>Nome: </strong>{{ therapy.name }}</li>
                <li class="list-group-item col-4"><strong>Descrição: </strong>{{ therapy.description }}.</li>
                <li class="list-group-item col-4"><strong>Preço: </strong> R$ {{ therapy.price }}</li>
                <img src='../../../static/img/Therapy/{{ therapy.img }}' class="mx-3" width='80'/>
                <a class="btn btn-sm bg-primary btn-outline-dark text-light txt-center mx-2 my-4 px-4" href="{{ url_for('admin.change_therapy', id_therapy=therapy.id) }}">Alterar</a>
                <a class="btn btn-sm bg-danger btn-outline-dark text-light txt-center mx-2 my-4 px-3" href="{{ url_for('admin.delete_therapy', id_therapy=therapy.id) }}">Remover</a>
            </div>
                {% endfor %}
            </ul>
            

        </div>


    </div>
</div>
{% endblock %}