    
.nav-menu {
    background: url(../img/Nav/bg-nav.png) no-repeat;
    background-size: cover;
    background-size:contain;
    width:100%;
    height:605px;
    
}    

.nav-logo {
    width: 390px;
    height: 190px;
    float: left;
    background: url(../img/Nav/nav-logo.png) center center/126px 66px no-repeat;
    top: 75px;
    
}

.nav-button .login {
    position: relative;
    left: 28%;
    background: #80DBFF;
    border-radius: 40px;
    height: 43px;
    width: 7%;
    top: 18px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    color: black;
    border: blue;
}

.nav-button .login h1 {
    font-size: 15px;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #4C8AF1;    
    line-height: 32px;
}

.nav-button .cadastro {
    position: relative;
    left: 28.5%;
    background: #80DBFF;
    border-radius: 40px;
    height: 43px;
    width: 9%;
    top: 18px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    color: black;
    border: blue;
    
}

.nav-button .cadastro h1 {
    font-size: 15px;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #4C8AF1;    
    line-height: 32px;
}

.nav-button .carrinho {
    position: relative;
    left: 29%;
    background: #80DBFF;
    border-radius: 40px;
    height: 43px;
    width: 12%;
    top: 32px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    color: black;
    border: blue;
}

.carrinho  img {
    width: 42px;
    position: relative;
    left: -49px;
    top: 3px;
}

.nav-redes{
    position: absolute;
    top: 52%;
    left: 9%;
   
}

.nav-redes .whats {
    position: relative;
    top: 0px;
    left: 1%;
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 4px 23px 20px -4px rgb(50 50 50 / 45%);
    border-radius: 80px;
}

.nav-redes .face {
    position: relative;
    top: 138px;
    left: 233%;
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 4px 23px 20px -4px rgb(50 50 50 / 45%);
    border-radius: 80px;
}

.nav-redes .insta {
    position: relative;
    top: 70px;
    left: 118%;
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 4px 23px 20px -4px rgb(50 50 50 / 45%);
    transition: all 0.4s ease-out;
    border-radius: 50%;
}

.nav-seta {    
    width: 64px;
    position: absolute;
    left: 50%;
    bottom: 23px;
    cursor: pointer;
    scroll-behavior: smooth;
}

.nav-seta::before,
.nav-seta::after{
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    
}

.nav-seta::after{
    top: 30%;
    animation-delay: .30s;
}
@keyframes nav-seta {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top:80%
    }
}

html {
    scroll-behavior: smooth;
}