[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
requests = "*"
validate-docbr = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-migrate = "*"
gunicorn = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
