{% extends "base.html" %}

{% block head %}
    <title>Carrinho</title>
{% endblock %}

{% block body %}


        {% if current_user.is_authenticated %}
        <main role="main" style="margin-bottom: 42.35rem;">

            <!-- box-cart -->
            <div class="container col-md-6 mx-auto">
                <br>

                <h1 class="display-4">Carrinho</h1>
                <hr>


                <h2><u>Produtos</u></h2>
                {% for product in user_products %}

                <div class="container d-flex card-therapy my-4">

                    <div class="container">
                        <img class="card-img dhor-img-card" width="200" height="300" src="../static/img/Product/{{ product.img }}" alt="Imagem ilustrativa do produto">
                    </div>
    
                    <div class="container">
                        <p class="cart-therapy-name mt-3"><strong>Nome: </strong>{{ product.name }}</p>
                        <br>
                        <p class="cart-therapy-description therapy-description text-justify"><strong>Descrição: </strong>{{ product.description }}.</p>
                        <br>
                        <p class="cart-therapy-size mt-2"><strong>Tamanho: </strong>{{ product.size }}</p>
                        <br>
                        <p class="cart-therapy-price"><strong>Preço: </strong> R$ {{ product.price }}</p>
                        <br>
                        <a class="btn btn-sm bg-danger btn-outline-light rounded" href="{{ url_for('login.delete_product', product_id=product.id) }}">Remover</a>
                        <br>
                        <br>
                    </div>


                </div>

                {% endfor %}

                

                

                <br>
                <br>


                <h2><u>Terapias</u></h2>
                {% for therapy in user_therapies %}

            <div class="container card-therapy d-flex my-4">

                <div class="container">
                    <img class="card-img dhor-img-card" width="200" height="300" src="../static/img/Therapy/{{ therapy.img }}" alt="Imagem ilustrativa da terapia">
                </div>

                <div class="container">
                    <p class="cart-therapy-name"><strong>Nome: </strong>{{ therapy.name }}</p>
                    <br>
                    <p class="cart-therapy-description therapy-description text-justify"><strong>Descrição: </strong>{{ therapy.description }}.</p>
                    <br>
                    <br>
                    <p class="cart-therapy-price mt-1"><strong>Preço: </strong> R$ {{ therapy.price }}</p>
                    <br>
                    <a class="btn btn-sm bg-danger btn-outline-light rounded" href="{{ url_for('login.delete_therapy', therapy_id=therapy.id) }}">Remover</a>
                    <br>
                    <br>
                </div>

            </div>


                {% endfor %}

                <hr class="my-4">

                <div class="container d-flex justify-content-end mt-4">
                    <p class="lead mx-3"><strong class=" font-weight-bold">Total do Carrinho: </strong></p>
                    <p class="lead">R$ {{ amount_cart }}</p>
                </div>

                <div class="container d-flex justify-content-end">
                    <a href="{{ url_for('login.send_order', products=user_products, therapies=user_therapies, amount=amount_car) }}" class="btn btn-lg bg-dark btn-outline-info btn-card">Enviar Pedido</a>
                </div>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}



            </div>
            <!-- box-cart -->




        {% else %}
        <main role="main" style="margin-bottom: 42.35rem;">

            <!-- box-cart -->
            <div class="container col-md-6 mx-auto">
                <br>

                <h1 class="display-4">Carrinho</h1>
                <hr>




            <!-- box-cart -->
            </div>



    {% endif %}

</main>

{% endblock %}