{% extends "base.html" %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}


        {% if current_user.is_authenticated %}
        <main role="main" style="margin-bottom: 38.35rem;">

            <!-- box-login -->
            <div class="container col-md-6 mx-auto">
                <br>
        
        <h1 class="display-4">Perfil</h1>
        <hr>


        {% if error %}
            <h3><strong>E-mail ou Senha incorreto(s).</strong></h3>
            <br>
        {% endif %}


        <!-- Profile Button Group -->
        <div class="btn-group d-flex align-items-center justify-content-center">


             <!-- Button Change Password -->
            <button class="btn btn-lg bg-info btn-outline-light mr-5 border border-dark rounded" data-toggle="modal" data-target="#change-password" type="submit">Alterar senha</button>

                <div class="modal fade" id="change-password" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content bg-light" style="left: 42rem; bottom: 10rem;">
                      <div class="modal-header">
                        <h5 class="modal-title text-dark"><strong>Alterar Senha</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-dark">

                        <form action="{{ url_for('login.change_password', user_email=current_user.email) }}" method="POST">

                            <div class="form-group col-7 lead">
                            <label for="new_password">Nova Senha</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Digite sua nova Senha">
                            </div>

                            <div class="form-group col-7 lead">
                            <label for="old_password">Senha Antiga</label>
                            <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Digite sua Senha antiga">
                            </div>

                            <button class="btn btn-md bg-warning btn-outline-dark" type="submit">Alterar</button>

                        </form>


                      </div>
                    </div>
                  </div>
                </div>
                <!-- Button Change Password -->




        <!-- Button Change Data -->
        <button class="btn btn-lg bg-info btn-outline-light mr-5 border border-dark rounded" data-toggle="modal" data-target="#change-data" type="submit">Alterar Dados</button>

        <div class="modal fade" id="change-data" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-light" style="left: 42rem; bottom: 10rem;">
              <div class="modal-header">
                <h5 class="modal-title text-dark"><strong>Alterar Dados</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-dark">


                <form action="{{ url_for('login.change_data', user_email=current_user.email) }}" method="POST">

                        <div class="row d-flex justify-content-between">

                        <div class="form-group lead col-6">
                            <label for="fname">Nome</label>
                            <input type="text" class="form-control" id="fname" name="fname" placeholder="{{ current_user.fname }}" required>
                        </div>

                        <div class="form-group lead col-6">
                            <label for="lname">Sobrenome</label>
                            <input type="text" class="form-control" id="lname" name="lname" placeholder="{{ current_user.lname }}" required>
                        </div>

                        <div class="form-group lead col-6">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="{{ current_user.email }}" required>
                        </div>

                        <div class="form-group lead col-6">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="******" required>
                        </div>

                        <div class="form-group lead col-6">
                            <label for="cep">Cep</label>
                            <input type="text" class="form-control" id="cep" name="cep" placeholder="{{ current_user.cep }}" required>
                        </div>

                        <div class="form-group lead col-6">
                            <label for="number">Número</label>
                            <input type="text" class="form-control" id="number" name="number" placeholder="{{ current_user.number }}" required>
                        </div>
        
                        <div class="form-group lead col-6">
                            <label for="complement">Complemento</label>
                            <input type="text" class="form-control" id="complement" name="complement" default="" placeholder="{{ current_user.complement }}">
                        </div>



                        <div class="container">
                            <button class="btn btn-md bg-warning btn-outline-dark mt-4" type="submit">Alterar</button>
                        </div>

            </form>
            <!-- Button Change Data -->


              </div>
            </div>
          </div>
        </div>
        <!-- Button Change Data -->










        </div>
        <!-- Profile Button Group -->





        {% else %}
        <main role="main" style="margin-bottom: 27.46rem;">

            <!-- box-login -->
            <div class="container col-md-6 mx-auto">
                <br>
        <h1 class="display-4">Login</h1>
        <hr>



        {% if error %}
            <h3><strong>E-mail ou Senha incorreto(s).</strong></h3>
            <br>
        {% endif %}


            <form action="#" method="POST">

                <div class="form-group col-5 lead">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail">
                </div>

                <div class="form-group col-5 lead">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha">
                </div>

                <button class="btn btn-md bg-info btn-outline-light" type="submit">Logar</button>

            </form> 



    <!-- box-login -->
    </div>

</main>
    {% endif %}

</main>

{% endblock %}
