{% extends 'base.html' %}

{% block head %}
    <title>Calling Therapies - Home Page</title>
{% endblock %}


{% block body %}

    <img src="../static/images/teste.jpg" class="img-fluid" style="width: 1920px; height: 900px;" alt="Enfermeiro com estetoscópio e tablet">



  <br>
  <br>
  <br>
  <br>
  <div class="card mb-3" style="max-width: 1800px;">
    <div class="row g-0">
      <div class="col-md-3">
        <img src="../static/images/DHOR.jpg" style="height: 400px; width: 450px" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title"><u>Ozonioterapia</u></h4>
          <p class="card-text">Descriçao da Ozonioterapia.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="card mb-3" style="max-width: 1800px;">
    <div class="row g-0">
      <div class="col-md-3">
        <img src="../static/images/DHOR.jpg" style="height: 400px; width: 450px" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title"><u>Auto-Hemoterapia</u></h4>
          <p class="card-text">Descriçao da Auto-Hemoterapia.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="card mb-3" style="max-width: 1800px;">
    <div class="row g-0">
      <div class="col-md-3">
        <img src="../static/images/DHOR.jpg" style="height: 400px; width: 450px" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title"><u>Produtos Naturais</u></h4>
          <p class="card-text">Descriçao dos Produtos Naturais.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>


  <br>
  <br>

  <h2>Tratamentos Ozonio-Terapia</h2>

  <div class="container" style="display: inline">

    <div class="card col-2" style="margin-left: 250px; background-color: rgb(0, 162, 255);">
        <img src="../static/images/DHOR.jpg" class="card-img-top" alt="Enfermeiro com estetoscópio e tablet">
        <div class="card-body">
        <p class="card-text">Descrição do tratamento......................................</p>
        <a href="#" class="btn btn-primary btn-md" style="margin-left: 70px;">Comprar</a>
        </div>
    </div>


    <div class="card col-2" style="margin-left: 600px; margin-top: -425px ; background-color: rgb(0, 162, 255);">
        <img src="../static/images/DHOR.jpg" class="card-img-top" alt="Enfermeiro com estetoscópio e tablet">
        <div class="card-body">
          <p class="card-text">Descrição do tratamento....................................</p>
          <a href="#" class="btn btn-primary btn-md" style="margin-left: 70px;">Comprar</a>
        </div>
      </div>


      <div class="card col-2" style="margin-left: 950px; margin-top: -425px; background-color: rgb(0, 162, 255);">
        <img src="../static/images/DHOR.jpg" class="card-img-top" alt="Enfermeiro com estetoscópio e tablet">
        <div class="card-body">
          <p class="card-text">Descrição do tratamento....................................</p>
          <a href="#" class="btn btn-primary btn-md" style="margin-left: 70px;">Comprar</a>
        </div>
      </div>

    </div>








    <h2>Tratamentos Auto-Hemoterapia</h2>

    <div class="container" style="display: inline">
  
      <div class="card col-2" style="margin-left: 250px; background-color: rgb(0, 162, 255);">
          <img src="../static/images/DHOR.jpg" class="card-img-top" alt="Enfermeiro com estetoscópio e tablet">
          <div class="card-body">
          <p class="card-text">Descrição do tratamento......................................</p>
          <a href="#" class="btn btn-primary btn-md" style="margin-left: 70px;">Comprar</a>
          </div>
      </div>
  
  
      <div class="card col-2" style="margin-left: 600px; margin-top: -425px ; background-color: rgb(0, 162, 255);">
          <img src="../static/images/DHOR.jpg" class="card-img-top" alt="Enfermeiro com estetoscópio e tablet">
          <div class="card-body">
            <p class="card-text">Descrição do tratamento....................................</p>
            <a href="#" class="btn btn-primary btn-md" style="margin-left: 70px;">Comprar</a>
          </div>
        </div>
  
  
        <div class="card col-2" style="margin-left: 950px; margin-top: -425px; background-color: rgb(0, 162, 255);">
          <img src="../static/images/DHOR.jpg" class="card-img-top" alt="Enfermeiro com estetoscópio e tablet">
          <div class="card-body">
            <p class="card-text">Descrição do tratamento....................................</p>
            <a href="#" class="btn btn-primary btn-md" style="margin-left: 70px;">Comprar</a>
          </div>
        </div>
  
      </div>




      <br>
      <h2>Produtos Naturais</h2>
      <br>
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <br>
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <img src="../static/images/DHOR.jpg" class="img-thumbnail" style="width: 200px;" alt="Enfermeiro com estetoscópio e tablet">
      <br>



      <hr>
      <footer>
        <p>&copy Calling Therapies - 2020</p>
      </footer>
    {% endblock %}