{% extends 'base.html' %}

{% block head %}
    <title>Calling Therapies - Alterar Senha</title>
{% endblock %}


{% block body %}




<div class="container">

    <h1>Alterar Senha</h1>
    <hr>


    {% if check_error %}
    <h3>Senha atual inválida.</h3>
    <br>
    {% endif %}



    <form action="#" method="POST">

        <div class="form-group col-3">
        <label for="password">Senha Atual</label>
        <input type="password" name="password" class="form-control" id="password">
        </div>
        <br>
        <div class="form-group col-3">
        <label for="new_password">Nova Senha</label>
        <input type="password" name="new_password" class="form-control" id="new_password">
        </div>

        <br>
        <button type="submit" class="btn btn-outline-light btn-lg bg-primary">Alterar</button>

    </form>

</div>

{% endblock %}