{% block head %}
    <title>Alterar Terapia</title>
{% endblock %}


{% block body %}

  <div class="container">

    <h1>Alterar - Terapia</h1>
    <hr>

    {% if current_user.is_authenticated %}

      {% if check_error %}

        <section>
          <h3>Senha inválida.</h3>
        </section>
        <br>
      {% endif %}
      {% if current_user.user_type == "admin" %}

        <form action="{{ url_for('admin.change_therapy') }}" method="POST">

          <br>
          <h3>Digite o ID para confirmar</h3>
          <div class="form-group col-3">
            <label for="therapy_id">ID</label>
            <input type="text" name="therapy_id" class="form-control" id="therapy_id" placeholder="{{ therapy.id }}" required>
          </div>
          <hr>
          <br>
          <div class="form-group col-3">
            <label for="name">Nome</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="{{ therapy.name }}" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="description">Descrição</label>
            <input type="text" name="description" class="form-control" id="description" placeholder="{{ therapy.description }}" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="price">Preço</label>
            <input type="text" name="price" class="form-control" id="price" placeholder="{{ therapy.price }}" required>
          </div>
          <br>


          <button type="submit">Alterar</button>

        </form>





      </div>

      {% endif %}
          {% endif %}


          <hr>
      <footer>
        <p>&copy Calling Therapies - 2020</p>
      </footer>

{% endblock %}