{% extends 'base.html' %}

{% block head %}
    <title>Calling Therapies - Alterar Dados</title>
{% endblock %}


{% block body %}

  <div class="container">

    <h1>Alterar Dados</h1>
    <hr>

    {% if current_user.is_authenticated %}

      {%  if check_error %}

        <section>
          <h3>Senha inválida.</h3>
        </section>
        <br>
      {% endif %}


        <form action="#" method="POST">

          <div class="form-group col-3">
            <label name="email">E-mail</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="{{ current_user.email }}" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="cep">Cep</label>
            <input type="tel" name="cep" class="form-control" id="cep" placeholder="{{ current_user.cep }}" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="number">Número</label>
            <input type="tel" name="number" class="form-control" id="number" placeholder="{{ current_user.number }}" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="complement">Complemento</label>
            <input type="text" name="complement" class="form-control" id="complement" placeholder="{{ current_user.complement }}" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="fname">Nome</label>
            <input type="text" name="fname" class="form-control" id="fname" placeholder="{{ current_user.fname }}" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="lname">Sobreome</label>
            <input type="text" name="lname" class="form-control" id="lname" placeholder="{{ current_user.lname }}" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="password">Senha para confirmar</label>
            <input type="password" name="password" class="form-control" id="password" required>
          </div>


          <br>
          <button type="submit" class="btn btn-outline-light btn-lg bg-primary">Alterar</button>

        </form>





      </div>
          {% endif %}


          <hr>
      <footer>
        <p>&copy Calling Therapies - 2020</p>
      </footer>

{% endblock %}