{% extends 'base.html' %}

{% block head %}
    <title>Calling Therapies - Deletar Conta</title>
{% endblock %}


{% block body %}




<div class="container">

    <h1>Alterar Senha</h1>
    <hr>


    {% if check_error %}
    <h3>Senha inválida.</h3>
    <br>
    {% endif %}



    <form action="#" method="POST">

        <div class="form-group col-2">
        <label for="password">Senha para confirmar</label>
        <input type="password" name="password" class="form-control" id="password">
        </div>


        <br>
        <button type="submit" class="btn btn-outline-light btn-lg bg-primary">Deletar</button>

    </form>

</div>

{% endblock %}