
{% block head %}
    <title>Admin - Login</title>
{% endblock %}

{% block body %}
<div class="container">

    <h1>Admin - Login</h1>
    <hr>



    {% if not current_user.is_authenticated %}




    {% if error %}
    <h3>Funcionário não cadastrado ou senha inválida.</h3>
    {% endif %}



    <br>

        <form action="#" method="POST">

          <div class="form-group col-3">
            <label name="email">E-mail</label>
            <input type="email" name="email" class="form-control" id="email">
          </div>
          <br>
          <div class="form-group col-3">
            <label for="password">Senha</label>
            <input type="password" name="password" class="form-control" id="password">
          </div>
          <br>

          <button type="submit" class="btn btn-outline-light btn-lg bg-primary">Logar</button>

        </form>
</div>



{% else %}


  {% if current_user.user_type == "admin" %}



          <h3>Bem vindo, {{ current_user.fname }} !</h3>

          <a href="{{ url_for('admin.logout') }}">Deslogar</a>


          <br>
          <br>
          <h3><a href="{{ url_for('admin.list_products') }}">Produtos</a></h3>

          <h3><a href="{{ url_for('admin.list_therapies') }}">Tratamentos</a></h3>

{% endif %}





          {% endif %}
          <hr>
      <footer>
        <p>&copy Calling Therapies - 2020</p>
      </footer>
{% endblock %}