{% extends 'base.html' %}

{% block head %}
    <title>Calling Therapies - Login</title>
{% endblock %}


{% block body %}

  <div class="container">

    <h1>Login</h1>
    <hr>

    
    {% if not current_user.is_authenticated %}


    {% if error %}
    <h3>Usuário não cadastrado ou senha inválida.</h3>
    {% endif %}


        <form action="{{ url_for('login.log_user') }}" method="POST">

          <div class="form-group col-3">
            <label name="email">E-mail</label>
            <input type="email" name="email" class="form-control" id="email">
          </div>
          <br>
          <div class="form-group col-3">
            <label for="password">Senha</label>
            <input type="password" name="password" class="form-control" id="password">
          </div>
          <br>

          <button type="submit" class="btn btn-outline-light btn-lg bg-primary">Logar</button>

        </form>



        <br>



          {% else %}


          <h3>Bem vindo, {{ current_user.fname }} !</h3>



          <br>
          <a href="{{ url_for('login.change_password', user_email=current_user.email) }}" class="btn btn-outline-light btn-sm bg-primary">Alterar Senha</a>
          <a href="{{ url_for('login.change_data', user_email=current_user.email) }}" class="btn btn-outline-light btn-sm bg-primary">Alterar Dados</a>
          <a href="{{ url_for('login.delete_user', user_email=current_user.email) }}" class="btn btn-outline-dark btn-sm bg-sucess">Excluir Conta</a>


          {% endif %}
          <hr>
      <footer>
        <p>&copy Calling Therapies - 2020</p>
      </footer>
{% endblock %}