{% block head %}

    <title>Cadastro Produto</title>
{% endblock %}


{% block body %}

  <div class="container">

    <h1>Cadastro - Produto</h1>
    <hr>

    {% if not current_user.is_authenticated %}


      {% else %}



      {% if current_user.user_type == "admin" %}

          <h3>Bem vindo, {{ current_user.fname }} !</h3>

        

          <br>
          <h4>Novo Produto</h4>
          <br>


          <form action="{{ url_for('admin.add_product') }}" method="POST">

            <div class="form-group col-3">
              <label name="name">Nome</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <br>
            <div class="form-group col-3">
              <label for="description">Descrição</label>
              <input type="text" name="description" class="form-control" id="description" required>
            </div>
            <br>
            <div class="form-group col-3">
              <label for="size">Tamanho</label>
              <input type="number" name="size" class="form-control" id="size" step="0.01" required>
            </div>
            <br>
            <div class="form-group col-3">
              <label for="price">Preço</label>
              <input type="number" name="price" class="form-control" id="price" step="0.01" required>
            </div>
            <br>


            <button type="submit" class="btn btn-outline-light btn-lg bg-primary">Cadastrar</button>

          </form>

        </div>

 {% endif %}


          {% endif %}
          <hr>
      <footer>
        <p>&copy Calling Therapies - 2020</p>
      </footer>

{% endblock %}