
{% block head %}
<title>Admin - Produtos</title>
{% endblock %}

{% block body %}
<div class="container">

<h1>Produtos</h1>
<hr>
<br>



{% if not current_user.is_authenticated %}


{% if error %}
<h3>Funcionário não cadastrado ou senha inválida.</h3>
{% endif %}



    <h1>Faça seu login primeiro na página de login de funcionarios.</h1>



{% else %}


      <h3>Bem vindo, {{ current_user.fname }} !</h3>

      <a href="{{ url_for('admin.logout') }}">Deslogar</a>


      <br>
      <br>
      <h3>Lista de Produtos</h3>
      <a href="{{ url_for('admin.add_product') }}">Novo Produto</a>
      <br>
      <br>
      <ul>
        {% for product in all_products %}
        <li><strong>ID:</strong> {{ product.id }}</li>
        <li><strong>Nome:</strong> {{ product.name }}</li>
        <li><strong>Descrição:</strong> {{ product.description }}.</li>
        <li><strong>Tamanho:</strong> {{ product.size }} L</li>
        <li><strong>Preço:</strong> R${{ product.price }}</li>
          <a href="{{ url_for('admin.change_product', id_product=product.id) }}">Alterar</a>
          <a href="{{ url_for('admin.delete_product', id_product=product.id) }}">Deletar</a>
          <br>
          <br>
        {% endfor %}
      </ul>



      {% endif %}
      <hr>
  <footer>
    <p>&copy Calling Therapies - 2020</p>
  </footer>
{% endblock %}