{% extends 'base.html' %}

{% block head %}

    <title>Calling Therapies - Cadastrar</title>
{% endblock %}


{% block body %}

  <div class="container">

    <h1>Cadastro</h1>
    <hr>

    {% if not current_user.is_authenticated %}

      {% if check_error %}

        <section>
          <h3>E-mail, cpf ou idade inválido.</h3>
        </section>
        <br>
      {% endif %}


        <form action="#" method="POST">

          <div class="form-group col-3">
            <label name="email">E-mail</label>
            <input type="email" name="email" class="form-control" id="email" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="password">Senha</label>
            <input type="password" name="password" class="form-control" id="password" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" class="form-control" id="cpf" maxlength="11" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="cep">Cep</label>
            <input type="tel" name="cep" class="form-control" id="cep" required>
          </div>
          <br>
          <div class="form-group col-3">
            <label for="complement">Complemento</label>
            <input type="text" name="complement" class="form-control" id="complement">
          </div>
          <br>
          <div class="form-group col-3">
            <label for="name">Nome Completo</label>
            <input type="text" name="name" class="form-control" id="name" required>
          </div>
          <br>
          
            <h4><u>Data de Nascimento</u></h4>
            <div class="form-group col-3 d-flex">
            <label for="bday">Dia</label>
            <input type="number" name="bday" class="form-control" id="bday" min=1 max=31 required>
            <label for="bmonth">Mês</label>
            <input type="number" name="bmonth" class="form-control" id="bmonth" min=1 max=12 required>
            <label for="byear">Ano</label>
            <input type="number" name="byear" class="form-control" id="byear" min=1920 required>
          </div>
          <br>


          <button type="submit" class="btn btn-outline-light btn-lg bg-primary">Cadastrar</button>

        </form>

      </div>



        
      {% else %}


          <h3>Bem vindo, {{ current_user.name }} !</h3>


          {% endif %}
          <hr>
      <footer>
        <p>&copy Calling Therapies - 2020</p>
      </footer>

{% endblock %}