.welcome h1 {
    font-size: 40px;
    margin-bottom: 24px;
  }
  
  .welcome .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-width: 380px;
    position: relative;
    background: #fdfcfc;
    border: 4px solid #8dc0f0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
  }
  
  .welcome .card::before,
  .welcome .card::after {
    content: "";
    background: url("https://s3-alpha-sig.figma.com/img/2d87/438d/cdc378d333ca35f26edd914399ceee9b?Expires=1630281600&Signature=QScehlZMzgpx4ab-SLtIWdxF25fQVlUa~31lWhKxn7wBZ--GAVpRxMoiu0Mz-wcI-tgpJvo~MqR--PMrXDMgquBerFDr4PXhZvr5eC7Alir8TeTMHmJNMy9GICjN3~kjs2LyahA2GXw~RNUU4ZcEz6~kpwbXGNBYnfqqjVzVltyyi-8ZBipZzRPUBXgk3HxN63piOJh4hZd6qxV5nQxnEGDeGN~ldvpiNrUBXfH~ge05syTSiOtKfHPbckxisiOPGgZ7faW-EJibYiB12tc1Qat-0ILURt-s9uXct1eL3Kcq9a7tymJ-0Qg9~WKhUqrO7nU0Yev8zqtpe1SOF0Ek9w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 27px;
    height: 40px;
    right: 24px;
    z-index: 1;
  }
  
  .welcome .card::before {
    top: 12px;
    transform: rotate(-90deg);
  }
  .welcome .card::after {
    bottom: 12px;
    transform: rotate(90deg);
  }
  
  .welcome .card::after:hover {
    cursor: pointer;
  }
  
  .welcome .card p {
    max-height: 300px;
    overflow-y: auto;
    margin: 0;
  }
  
  .welcome .card p::-webkit-scrollbar {
    display: none;
  }
  
  @media (min-width: 1024px) {
    .welcome .card {
      flex-direction: row;
      max-width: unset;
    }
  
    .welcome .card p {
      margin: 0 72px 0 48px;
      padding: 0 12px;
    }
  }