
* {
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: 'Roboto', sans-serif !important;
}


body .navbar {
    margin-left: -15px !important;
    margin-right: -15px !important;
    height: 66px !important;
    max-width: 1851px;
}

body .product-card {
  border: 3px solid #8DC0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.container .card-horizontal {
  border: 3px solid #8DC0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.btn-group .btn-card {
  border-radius: 12px;
  padding: 5px 32px 5px 32px;
}

.card-body .btn-dhor {
  border-radius: 12px;
  padding: 5px 32px 5px 32px;
}

.product-btn {
  padding-left: 4rem !important;
}

.btn-card:hover {
  background-color: #17a2b8 !important;
}


.card-horizontal .dhor-img-card {
  max-width: 16rem !important;
}


.link-footer:hover {
  color: #1ec0c1 !important;
}


.link-navbar:hover {
  color: #343a40 !important;
}



.navbar-dark .navbar-toggler {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.modal-content {
  border: 3px solid #8DC0F0 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 20px !important;
}


:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 1rem !important;
  background-color: #fff;
}


@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}


.jumbotron p:last-child {
  margin-bottom: 0;
}


.jumbotron-heading {
  font-weight: 300;
}


.jumbotron .container {
  max-width: 40rem;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 50px;
  /*position: absolute;
  bottom: 0;*/
}


footer p {
  margin-bottom: .25rem;
}


.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }





.card-product p {
  max-height: 300px;
  overflow-y: auto;
  margin: 0;
}

.card-product p::-webkit-scrollbar {
  display: none;
}

.card-product p {
  max-height: 10rem !important;
}


.card-therapy .therapy-description {
  max-height: 300px;
  overflow-y: auto;
  margin: 0;
}

.card-therapy .therapy-description::-webkit-scrollbar {
  display: none;
}

.card-therapy .therapy-description {
  max-height: 7.3rem !important;
}

.therapy-description {
  max-width: 50rem !important;
}


.therapy-price {
  padding-top: 1rem !important;
}
