
* {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


body .navbar {
    margin-left: -15px !important;
    margin-right: -15px !important;
    height: 66px !important;
    max-width: 1851px;
}

body .product-card {
  border: 3px solid #8DC0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.container .card-horizontal {
  border: 3px solid #8DC0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.btn-group .btn-card {
  border-radius: 12px;
  padding: 5px 32px 5px 32px;
}


.btn-card:hover {
  background-color: #17a2b8 !important;
}


.card-horizontal .dhor-img-card {
  max-width: 16rem !important;
}


.link-footer:hover {
  color: #1ec0c1 !important;
}


.link-navbar:hover {
  color: #343a40 !important;
}



.navbar-dark .navbar-toggler {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.modal-content {
  border: 3px solid #8DC0F0 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 20px !important;
}



/* Bootstrap 4 template */

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 1rem !important;
  background-color: #fff;
}


@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}


.jumbotron p:last-child {
  margin-bottom: 0;
}


.jumbotron-heading {
  font-weight: 300;
}


.jumbotron .container {
  max-width: 40rem;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 50px;
  /*position: absolute;
  bottom: 0;*/
}


footer p {
  margin-bottom: .25rem;
}


.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


/* Bootstrap 4 template */
