<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- static/main.css -->
    <link rel="stylesheet" href="../static/css/admin.css"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google Font Roboto 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% block head %} {% endblock %}
</head>

<body class="d-flex">

    <div class="wrapper bg-info">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header py-1 pt-2 px-3 bg-dark text-white font-weight-bold col-12 mx-auto text-center">
                <a href='{{ url_for("admin.index") }}'><img src="../../static/img/Nav/logo.png" class="ml-5 my-2 mt-1 mx-auto" width="135" /></a>
            </div>

            <ul class="list-unstyled components text-white">


            {% if current_user.user_type == 'admin' %}
            <div class="container text-center mt-4">
                <a class="btn btn-lg btn-sidebar bg-light btn-outline-info txt-center text-dark" href="{{ url_for('admin.logout') }}">Logout</a>
            </div>

            <li class="text-center mr-2">
                <a href="#" data-target="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-center ml-1 mt-4 btn btn-lg btn-sidebar bg-light btn-outline-info txt-center text-dark btn-itens">Itens</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="{{ url_for('admin.admin_therapies') }}" class="btn btn-sm btn-sidebar bg-dark btn-outline-info txt-center text-white mt-1">Terapias</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.admin_products') }}" class="btn btn-sm btn-sidebar bg-dark btn-outline-info txt-center text-white my-1">Produtos Naturais</a>
                    </li>
                </ul>
            </li>



            <div class="container text-center mt-4">
                <a class=" btn btn-lg btn-sidebar bg-light btn-outline-info txt-center text-dark btn-perfil" href='{{ url_for("admin.profile") }}'>Perfil</a>
            </div>

            <div class="container text-center mt-4">
                <a class=" btn btn-lg btn-sidebar bg-light btn-outline-info text-dark btn-perfil" style="padding-right: 7rem !important;" href='{{ url_for("admin.orders") }}'>Pedidos</a>
            </div>

            <div class="container text-center mt-4">
                <a class=" btn btn-lg btn-sidebar bg-light btn-outline-info text-dark btn-perfil" style="padding-right: 7rem !important;" href='{{ url_for("admin.users") }}'>Usuários</a>
            </div>

            {% else %}

            <div class="container text-center mt-4">
                <a class="btn btn-lg btn-sidebar bg-light btn-outline-info txt-center text-dark" href='#'>Login</a>
            </div>

            {% endif %}


            </ul>
        </nav>

    </div>



    {% block body %} {% endblock %}


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</body>
</html>