{% extends "admin/base.html" %}

{% block head %}
    <title>Admin - Fechar Pedido</title>
{% endblock %}

{% block body %}




    <div class="container col-7">



        <div class="jumbotron jumbotron-admin position-absolute text-dark bt-5">



        <h1 class="display-4 text-center text-info font-weight-bold">Bem-vindo, {{ current_user.fname }}!</h1>
            <br>
            <p class="lead text-center">Para navegar na página utilize a barra de navegação na lateral esquerda.</p>
            {% if error %}
            <p class="lead text-center font-weight-bold">E-mail e/ou Senha incorreto(s).</p>
            {% endif %}

            <hr class="my-3">

                <h1 class="display-4 text-center text-info my-5">Pedido {{ order.id }}</h1>


                <h2><u>Usuário</u></h2>
                <div class="container">
                    <p class="cart-therapy-name mt-3"><strong>Nome: {{ owner.fname }} {{ owner.lname }}</strong></p>
                    <br>
                    <p class="cart-therapy-description therapy-description text-justify"><strong>E-mail: {{ owner.email }}</strong></p>
                    <br>
                    <p class="cart-therapy-size"><strong>CPF: {{ owner.cpf }}</strong></p>
                    <br>
                </div>
                <br>

                <h2><u>Produtos</u></h2>
                {% for product in user_products %}

                <div class="container d-flex card-therapy my-4">

                    <div class="container">
                        <img class="card-img dhor-img-card" width="200" height="300" src="../static/img/Product/{{ product.img }}" alt="Imagem ilustrativa do produto">
                    </div>
    
                    <div class="container">
                        <p class="cart-therapy-name mt-3"><strong>Nome: </strong>{{ product.name }}</p>
                        <br>
                        <p class="cart-therapy-description therapy-description text-justify"><strong>Descrição: </strong>{{ product.description }}.</p>
                        <br>
                        <p class="cart-therapy-size mt-2"><strong>Tamanho: </strong>{{ product.size }}</p>
                        <br>
                        <p class="cart-therapy-price"><strong>Preço: </strong> R$ {{ product.price }}</p>
                        <br>
                    </div>


                </div>

                {% endfor %}



                <br>
                <br>


                <h2><u>Terapias</u></h2>
                {% for therapy in user_therapies %}

            <div class="container card-therapy d-flex my-4">

                <div class="container">
                    <img class="card-img dhor-img-card" width="200" height="300" src="../static/img/Therapy/{{ therapy.img }}" alt="Imagem ilustrativa da terapia">
                </div>

                <div class="container">
                    <p class="cart-therapy-name"><strong>Nome: </strong>{{ therapy.name }}</p>
                    <br>
                    <p class="cart-therapy-description therapy-description text-justify"><strong>Descrição: </strong>{{ therapy.description }}.</p>
                    <br>
                    <br>
                    <p class="cart-therapy-price mt-1"><strong>Preço: </strong> R$ {{ therapy.price }}</p>
                    <br>
                </div>

            </div>


                {% endfor %}

                <hr class="my-4">

                <div class="container d-flex justify-content-end mt-4">
                    <p class="lead mx-3"><strong class=" font-weight-bold">Total do Carrinho: </strong></p>
                    <p class="lead">R$ {{ order.amount_order }}</p>
                </div>

                <div class="container d-flex justify-content-end">
                    <a href="{{ url_for('admin.delete_order', order_id=order.id) }}" class="btn btn-lg bg-dark btn-outline-info btn-card">Fechar Pedido</a>
                </div>


            </div>
            <!-- box-cart -->






</main>

{% endblock %}