{% extends 'admin/base.html' %}


{% block head %}
    <link rel="stylesheet" href="../../../static/css/admin.css"/>
    <title>Admin - Perfil</title>
{% endblock %}

{% block body %}

    <!-- jumbotron box -->
    <div class="container col-7">

      {% if current_user.user_type == 'admin' %}

        <div class="jumbotron jumbotron-admin text-dark bt-5">

            <h1 class="display-4 text-center text-info font-weight-bold">Bem-vindo, {{ current_user.fname }}!</h1>
            <br>
            <p class="lead text-center">Para navegar na página utilize a barra de navegação na lateral esquerda.</p>

            {% if error %}
            <p class="lead text-center font-weight-bold">E-mail, senha e/ou cep incorreto(s).</p>
            {% endif %}

            {% if email_error %}
            <p class="lead text-center font-weight-bold">E-mail já cadastrado no sistema.</p>
            {% endif %}

            <hr class="my-3">

            <h1 class="display-4 text-center text-info font-weight-bold">Perfil</h1>
            <br>




            <!-- Profile Button Group -->
        <div class="btn-group d-flex align-items-center justify-content-center">


            <!-- Button Change Password -->
            <button class="btn btn-lg btn-product bg-info btn-outline-light mr-5 px-4 border border-dark" data-toggle="modal" data-target="#change-password" type="submit">Alterar Senha</button>

                <div class="modal fade" id="change-password" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content bg-light" style="left: 42rem; bottom: 10rem;">
                      <div class="modal-header">
                        <h5 class="modal-title" style="color: #1ec0c1;"><strong>Alterar Senha</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-dark">

                        <form action="{{ url_for('admin.change_password') }}" method="POST">

                            <div class="form-group col-7 lead">
                            <label for="new_password">Nova Senha</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Digite sua nova Senha">
                            </div>

                            <div class="form-group col-7 lead">
                            <label for="old_password">Senha Antiga</label>
                            <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Digite sua Senha antiga">
                            </div>

                            <button class="btn btn-md bg-warning btn-outline-dark" type="submit">Alterar</button>

                        </form>


                      </div>
                    </div>
                  </div>
                </div>
                <!-- Button Change Password -->



            <!-- Button Change Data -->
        <button class="btn btn-lg btn-product bg-info btn-outline-light mr-5 px-4 border border-dark" data-toggle="modal" data-target="#change-data" type="submit">Alterar Dados</button>

        <div class="modal fade" id="change-data" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-light" style="left: 42rem; bottom: 10rem;">
              <div class="modal-header">
                <h5 class="modal-title" style="color: #1ec0c1;"><strong>Alterar Dados</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-dark">


                <form action="{{ url_for('admin.change_data') }}" method="POST">

                        <div class="row d-flex justify-content-between">

                        <div class="form-group lead col-6">
                            <label for="fname">Nome</label>
                            <input type="text" class="form-control" id="fname" name="fname" placeholder="{{ current_user.fname }}" required>
                        </div>

                        <div class="form-group lead col-6">
                            <label for="lname">Sobrenome</label>
                            <input type="text" class="form-control" id="lname" name="lname" placeholder="{{ current_user.lname }}" required>
                        </div>

                        <div class="form-group lead col-6">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="{{ current_user.email }}" required>
                        </div>

                        <div class="form-group lead col-6">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="******" required>
                        </div>

                        <div class="form-group lead col-6">
                            <label for="cep">Cep</label>
                            <input type="text" class="form-control" id="cep" name="cep" placeholder="{{ current_user.cep }}" required>
                        </div>

                        <div class="form-group lead col-6">
                            <label for="number">Número</label>
                            <input type="text" class="form-control" id="number" name="number" placeholder="{{ current_user.number }}" required>
                        </div>
        
                        <div class="form-group lead col-6">
                            <label for="complement">Complemento</label>
                            <input type="text" class="form-control" id="complement" name="complement" default="" placeholder="{{ current_user.complement }}">
                        </div>



                        <div class="container">
                            <button class="btn btn-md bg-warning btn-outline-dark mt-4" type="submit">Alterar</button>
                        </div>

            </form>

        </div>
        <!-- Button Change Data -->


        
            
        </div>
        <!-- Profile Button Group -->





        </div>



    </div>

{% endif %}
{% endblock %}