{% extends 'admin/index.html' %}

{% block head %}
    <title>Admin - Usuários</title>
{% endblock %}


{% block body %}


<div class="container col-7">



    <div class="jumbotron jumbotron-admin position-absolute text-dark bt-5">

        {% if current_user.user_type == 'admin' %}

    <h1 class="display-4 text-center text-info font-weight-bold">Bem-vindo, {{ current_user.fname }}!</h1>
        <br>
        <p class="lead text-center">Para navegar na página utilize a barra de navegação na lateral esquerda.</p>
        {% if error %}
        <p class="lead text-center font-weight-bold">E-mail e/ou Senha incorreto(s).</p>
        {% endif %}

        <hr class="my-3">



        <h2 class="display-4 text-center text-info">Usuários</h2>
        <br>

            {% for user in all_users %}
                <div class="container">
                    <p class="cart-therapy-name mt-3"><strong>Nome: </strong>{{ user.fname }} {{ user.lname }}</p>
                    <br>
                    <p class="cart-therapy-description therapy-description text-justify"><strong>Idade: </strong>{{ user.age }}</p>
                    <br>
                    <p class="cart-therapy-description therapy-description text-justify"><strong>E-mail: </strong>{{ user.email }}</p>
                    <br>
                    <p class="cart-therapy-description therapy-description text-justify"><strong>CPF: </strong>{{ user.cpf }}</p>
                    <br>
                    <p class="cart-therapy-description therapy-description text-justify"><strong>Endereço: </strong>{{ user.address }}</p>
                    <br>
                    <p class="cart-therapy-description therapy-description text-justify"><strong>Número: </strong>{{ user.number }}</p>
                    <br>
                    <p class="cart-therapy-description therapy-description text-justify"><strong>Complemento: </strong>{{ user.complement }}</p>
                    <br>
                    <p class="cart-therapy-description therapy-description text-justify"><strong>UF: </strong>{{ user.uf }}</p>
                    <br>
                    <a class="btn btn-sm bg-danger btn-outline-dark text-light txt-center mx-2 my-4 px-3" href="#">Remover</a>
                    <br>
                    <br>
                </div>
            {% endfor %}




    </div>
</div>

{% endif %}
{% endblock %}