
{% extends 'admin/index.html' %}

{% block head %}
    <title>Admin - Produtos Naturais</title>
{% endblock %}


{% block body %}


<div class="container col-7">
    {% if current_user.user_type == 'admin' %}


    <div class="jumbotron jumbotron-admin position-absolute text-dark bt-5">



    <h1 class="display-4 text-center text-info font-weight-bold">Bem-vindo, {{ current_user.fname }}!</h1>
        <br>
        <p class="lead text-center">Para navegar na página utilize a barra de navegação na lateral esquerda.</p>
        {% if error %}
        <p class="lead text-center font-weight-bold">E-mail e/ou Senha incorreto(s).</p>
        {% endif %}

        <hr class="my-3">


        <h2 class="display-4 text-center text-info">Produtos Naturais</h2>
        <br>

        <div class="btn-group d-flex justify-content-center">
            <a href="{{ url_for('admin.list_products') }}" class="btn btn-lg btn-product bg-info btn-outline-light mr-5 px-4 border border-dark">Listar</a>
            <a href="{{ url_for('admin.add_product') }}" class="btn btn-lg btn-product bg-info btn-outline-light mr-5 px-4 border border-dark">Novo</a>
        </div>



        {% for product in all_products %}

                <div class="container d-flex card-therapy my-2 mt-5">

                    <div class="container">
                        <img class="card-img dhor-img-card mt-3 text-center ml-3 admin-img" width="200" height="300" src="../static/img/Product/{{ product.img }}" alt="Imagem ilustrativa da terapia">
                    </div>

                    <div class="container">
                        <p class="cart-therapy-name mt-3"><strong>Nome: </strong>{{ product.name }}</p>
                        <br>
                        <p class="cart-therapy-description therapy-description text-justify"><strong>Descrição: </strong>{{ product.description }}</p>
                        <br>
                        <p class="cart-therapy-size mt-2"><strong>Tamanho: </strong>{{ product.size }}</p>
                        <br>
                        <p class="cart-therapy-price"><strong>Preço: </strong> R$ {{ product.price }}</p>
                        <br>
                        <a class="btn btn-sm bg-primary btn-outline-dark text-light txt-center mx-2 my-4 px-4" href="{{ url_for('admin.change_product', id_product=product.id) }}">Alterar</a>
                        <a class="btn btn-sm bg-danger btn-outline-dark text-light txt-center mx-2 my-4 px-3" href="{{ url_for('admin.delete_product', id_product=product.id) }}">Remover</a>
                        <br>
                        <br>
                    </div>


                </div>
                <hr>


        {% endfor %}





    </div>
</div>

{% endif %}
{% endblock %}