<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- static/main.css -->
    <link rel="stylesheet" href="../static/css/main.css"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {%block head %} {% endblock %}
</head>

<body>

    <div class="container-fluid">
        <header>




            <div class="navbar navbar-dark bg-info box-shadow">

                <ul class="navbar-text list-unstyled d-flex justify-content-between align-items-center" style="margin-top: -0.1rem; padding-left: 350px;">

                  <a href="#" class="navbar-brand ml-5">
                    <a href='{{ url_for("home.index") }}'><img src="../static/img/Nav/logo.png" width="120"/></a>
                  </a>

              </ul>





              <ul class="navbar-text list-unstyled d-flex justify-content-between align-items-center" style="margin-top: -0.4rem; padding-right: 350px;">

                <div class="nav navbar-buttons">
                  {% if current_user.is_authenticated %}
                  <li class="nav-item active">
                    <a class="nav-link link-navbar font-weight-bold" href="#">
                        Perfil
                    </a>
                </li>
                  {% else %}
                    <li class="nav-item active">
                        <a class="nav-link link-navbar font-weight-bold" href="{{ url_for('register.register_user') }}">
                            Cadastrar
                        </a>
                    </li>
                  {% endif %}

                  {% if current_user.is_authenticated %}
                  <li class="nav-item active">
                    <a class="nav-link link-navbar font-weight-bold" href="{{ url_for('login.logout') }}">
                        Logout
                    </a>
                </li>
                  {% else %}
                  <li class="nav-item active">
                    <a class="nav-link link-navbar font-weight-bold" href="{{ url_for('login.log_user') }}">
                        Login
                    </a>
                </li>
                  {% endif %}


                    <li class="nav-item active">
                        <a class="nav-link link-navbar font-weight-bold" href="#">
                            Carrinho
                        </a>
                    </li>
                  </div>

                </ul>

            </div>
          </header>
    </div>





              <div class="collapse" id="navbarToggleExternalContent">

                <div class="bg-dark p-2">

                  <section class="jumbotron text-center">
                      <h1 class="jumbotron-heading">Calling Therapies</h1>
                      <p class="lead text-muted">Explicação da empresa e bio do empresário</p>
                  </section>

                </div>

              </div>

              <nav class="navbar navbar-dark bg-dark d-flex justify-content-center">
                <button class="navbar-toggler" type="button" style="border: 0; box-shadow: 0px 0px 0px 0px; align-items: center; padding-top: 15px;" data-toggle="collapse" data-target="#navbarToggleExternalContent">
                  <img src="../static/img/Nav/scroll-down-BIOS.png" />
                </button>
              </nav>





    {% block body %} {% endblock %}


      <footer class="d-flex flex-wrap justify-content-between align-items-center py-0 border-top bg-dark fixed-bottom">
        <p class="col-md-4 mb-0 text-white">&copy; 2021 CallingTherapies, Inc</p>
  
  
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#" class="nav-link link-footer px-3 text-white"><strong>Home</strong></a></li>
          <li class="nav-item"><a href="#" class="nav-link link-footer px-3 text-white"><strong>Contato</strong></a></li>
          <li class="nav-item"><a href="#" class="nav-link link-footer px-3 text-white"><strong>Sobre</strong></a></li>
        </ul>
      </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</body>
</html>