<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- static/main.css -->
    <link rel="stylesheet" href="../static/css/main.css"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {%block head %} {% endblock %}
</head>

<body>

    <div class="container-fluid">
        <header>
            <div class="collapse bg-dark" id="navbarHeader">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                  </div>
                  <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                      <li><a href="#" class="text-white">Follow on Twitter</a></li>
                      <li><a href="#" class="text-white">Like on Facebook</a></li>
                      <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar navbar-dark bg-info box-shadow">
              <div class="container">
                <ul class="navbar-text list-unstyled ml-auto d-flex justify-content-between">
                <a href="#" class="navbar-brand">
                  <a href='{{ url_for("home.index") }}'><img src="../static/img/Nav/logo.png" width="120" /></a>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                  {% if current_user.is_authenticated %}
                  <li class="nav-item active">
                    <a class="nav-link link-navbar font-weight-bold" href="#">
                        Perfil
                    </a>
                </li>
                  {% else %}
                    <li class="nav-item active">
                        <a class="nav-link link-navbar font-weight-bold" href="{{ url_for('register.register_user') }}">
                            Cadastrar
                        </a>
                    </li>
                  {% endif %}

                  {% if current_user.is_authenticated %}
                  <li class="nav-item active">
                    <a class="nav-link link-navbar font-weight-bold" href="{{ url_for('login.logout') }}">
                        Logout
                    </a>
                </li>
                  {% else %}
                  <li class="nav-item active">
                    <a class="nav-link link-navbar font-weight-bold" href="{{ url_for('login.log_user') }}">
                        Login
                    </a>
                </li>
                  {% endif %}


                    <li class="nav-item active">
                        <a class="nav-link link-navbar font-weight-bold" href="#">
                            Carrinho
                        </a>
                    </li>

                </ul>

              </div>
            </div>
          </header>
    </div>




    {%block body %} {% endblock %}


      <footer class="d-flex flex-wrap justify-content-between align-items-center py-0 border-top bg-dark fixed-bottom">
        <p class="col-md-4 mb-0 text-white">&copy; 2021 CallingTherapies, Inc</p>
  
  
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#" class="nav-link link-footer px-3 text-white"><strong>Home</strong></a></li>
          <li class="nav-item"><a href="#" class="nav-link link-footer px-3 text-white"><strong>Contato</strong></a></li>
          <li class="nav-item"><a href="#" class="nav-link link-footer px-3 text-white"><strong>Sobre</strong></a></li>
        </ul>
      </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</body>
</html>