<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- static/main.css -->
    <link rel="stylesheet" href="../static/css/main.css"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google Font Roboto 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% block head %} {% endblock %}
</head>

<body>

    <div class="container-fluid">
        <header>




            <div class="navbar navbar-dark bg-info box-shadow" style="min-width: 1848px;">

                <ul class="navbar-text list-unstyled d-flex justify-content-between align-items-center" style="margin-top: -0.3rem; padding-left: 26%;">

                  <a href="#" class="navbar-brand ml-5">
                    <a href='{{ url_for("home.index") }}'><img src="../static/img/Nav/logo.png" width="135"/></a>
                  </a>

              </ul>





              <ul class="navbar-text list-unstyled d-flex justify-content-between align-items-center" style="margin-top: -0.4rem; padding-right: 23%;">

                <div class="nav navbar-buttons">
                  {% if current_user.is_authenticated %}

                  <li class="nav-item active">
                    <a class="nav-link link-navbar font-weight-bold lead px-3" href="{{ url_for('login.log_user') }}">
                        Perfil
                    </a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link link-navbar font-weight-bold lead px-3" href="{{ url_for('login.logout') }}">
                      Logout
                  </a>
              </li>

              <li class="nav-item active">
                <a class="nav-link link-navbar font-weight-bold lead px-3" href="{{ url_for('login.cart') }}">
                    Carrinho
                </a>
            </li>


                  {% else %}
                    <li class="nav-item active">
                        <a class="nav-link link-navbar font-weight-bold lead px-3" href="{{ url_for('register.register_user') }}">
                            Cadastrar
                        </a>
                    </li>

                  <li class="nav-item active">
                    <a class="nav-link link-navbar font-weight-bold lead px-3" href="{{ url_for('login.log_user') }}">
                        Login
                    </a>
                </li>
                  {% endif %}

                  </div>

                </ul>

            </div>
          </header>
    </div>





              <div class="collapse" id="navbarToggleExternalContent">

                <div class="bg-dark p-2">

                  <section class="jumbotron text-center">
                      <h1 class="jumbotron-heading">Calling Therapies</h1>
                      <p class="lead text-muted">Explicação da empresa e bio do empresário</p>
                  </section>

                </div>

              </div>

              <nav class="navbar navbar-dark bg-dark d-flex justify-content-center" style="max-width: 1851px; left: 12px;">
                <button class="navbar-toggler" type="button" style="border: 0; box-shadow: 0px 0px 0px 0px; align-items: center; padding-top: 15px;" data-toggle="collapse" data-target="#navbarToggleExternalContent">
                  <img src="../static/img/Nav/scroll-down-BIOS.png" />
                </button>
              </nav>





    {% block body %} {% endblock %}


      <footer class="d-flex flex-wrap justify-content-between align-items-center py-0 border-top bg-dark sticky-bottom">

        <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <p class="mb-0 text-white font-weight-bold" style="padding-left: 40%;">&copy; 2021 CallingTherapies, Inc</p>
        <a href="#"><img src="../static/img/Nav/scroll-down-BIOS.png" class="mb-2" style="transform: rotate(180deg); padding-left: 11.15rem;"/></a>
      </div>






      <ul class="nav col-md-4 mr-5 justify-content-center" style="padding-right: 22%;">


          <li class="nav-item">
            <a href="#" class="nav-link link-footer px-3 text-white modal-trigger" data-toggle="modal" data-target="#Contact">
            <strong>Contato</strong>

            <div class="modal fade" id="Contact" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-light" style="left: 42rem; bottom: 10rem;">
                  <div class="modal-header">
                    <h5 class="modal-title"><strong>Contato</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-dark">
                    <p>
                      <strong>Nome: </strong>Adriano Ramos
                      <br>
                      <strong>telefone: </strong>(11)97552-4317
                      <br>
                      <strong>Rua: </strong>Quirino de Andrade, São Paulo, Edifício Santa Tereza, 193 - Sala 64
                      
                     </p>
                  </div>
                </div>
              </div>
            </div>

          </a>

          </li>


          <li class="nav-item">
            <a href="#" class="nav-link link-footer px-3 text-white modal-trigger mr-3" data-toggle="modal" data-target="#Schedule">
            <strong>Horários</strong>

            <div class="modal fade" id="Schedule" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-light" style="left: 42rem; bottom: 10rem;">
                  <div class="modal-header">
                    <h5 class="modal-title" style="color: #1ec0c1"><strong>Horários</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-dark">
                    <p>
                      <strong>Segunda-feira: </strong>14:00 às 20:00
                      <br>
                      <strong>Terça-feira: </strong>14:00 às 20:00
                      <br>
                      <strong>Quarta-feira: </strong>14:00 às 20:00
                      <br>
                      <strong>Quinta-feira: </strong>14:00 às 20:00
                      <br>
                      <strong>Sexta-feira: </strong>14:00 às 20:00
                      <br>
                      <strong>Sábado: </strong>Fechado
                      <br>
                      <strong>Domingo: </strong>Fechado
                      <br>
                     </p>
                  </div>
                </div>
              </div>
            </div>

          </a>

          </li>


        </ul>

      </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</body>
</html>