{% extends 'base.html' %}

{% block head %}
    <title>Home Page</title>
{% endblock %}

{% block body %}

<main role="main">


    <div class="album py-5 bg-white d-flex justify-content-center">

      <div class="container">
        <h1>Terapias</h1>



        {% for therapy in all_therapies %}

        <div class="card-horizontal dhor-card d-flex justify-content-between">

          <img class="card-img dhor-img-card" width="200" height="300" src="../static/img/Therapy/{{ therapy.img }}" alt="Imagem ilustrativa da terapia">

          <div class="card-body card-therapy">
            <h3 class="card-title">{{ therapy.name }}</h3>
            <p class="card-text therapy-description">{{ therapy.description }}</p>
            <p class="card-text therapy-price"><strong>Preço: </strong>R$ {{ therapy.price }}</p>
            <a href="{{ url_for('login.add_therapy_cart', therapy_id=therapy.id) }}" class="btn btn-lg btn-outline-info btn-card btn-dhor">Adicionar</a>
          </div>

        </div>
        <br>

        {% endfor %}

      <br>
      <br>


      <div class="container">
        <h1>Produtos Naturais</h1>


        <div class="row">
          {% for product in all_products %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow product-card">
              <img class="card-img-top" src="../static/img/Product/{{ product.img }}" width="100" height="300" alt="Produto ilustrativo">
              <div class="card-body card-product">
                <div class="card-title">
                  <strong>Nome: </strong>{{ product.name }}
                </div>
                <p class="card-text"><strong>Descrição: </strong>{{ product.description }}</p>
                <p class="card-text mt-3"><strong>Preço: </strong>R$ {{ product.price }}</p>
                <p class="card-text mb-3 mt-1"><strong>Tamanho: </strong>{{ product.size }} mL</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group product-btn">
                    <a href="{{ url_for('login.add_product_cart', product_id=product.id) }}" class="btn btn-lg btn-outline-info btn-card">Adicionar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

  </main>

{% endblock %}